<div class="banner-main-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louisgadam/image/upload/v1621292532/yael-gonzalez-vdbOJuueLpU-unsplash_uxv8a4.jpg')">

  <div class="first-things">
    <h1>This is <strong>your fight</strong>, fucking cunt</h1>
  </div>


<div class="cards-trips">
      <% @myfights.each do |fight|%>
        <div class="card-trip">
          <img src="https://areabox.fr/documents-images/IMG_6341.jpg"/>
          <div class="card-trip-infos">
            <div>
            <h2><%= fight.location.name  %></h2>
              <p><%= fight.location.location %></p>
            </div>
            <div class="avatar-bordered">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvcvtWZgxg2UOlbbr5NrHSjJsfsJtE319uLOc2aemIP_VdIWXbienu9uW5FN5ggOS96tc&usqp=CAU" class="avatar-bordered" />
            </div>
          </div>
        </div>
      <% end %>
    </div>
      <%=link_to 'back to locations', locations_path, class: 'btn btn-danger' %>
