.form-group{
  width: 100%;
}
.simple-form-locations{
  .search-form-control{
   display: flex;
   align-items: center;
   button{
    height: 38px;
   }

  }
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
}

.row {
  margin-top: 24px;
  width: 100%;
  justify-content: space-evenly;
  margin-right: unset;
  margin-left: unset;
}


@media (min-width: 992px) {
  .col-lg-6 {
      max-width: unset;
  }

}
.first-things{
  width: 50%;
}

.cards-trips {
  width: 40%;
}

.card-trip {
  margin-bottom: 12px;
  padding: 8px;
  overflow: hidden;
  background: #245545;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  opacity: 0.9;
}

.card-trip:hover {
  box-shadow: 0 0 3px 3px rgba(0, 140, 186, 0.5);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: white;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.banner-main-container{
  padding-top: 88px;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}

.banner-main-container h1 {
  padding: 24px 42px;
  margin: 0;
  color: lightgrey;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}


.first-things .btn-to-fight.mb-15 {
  margin-left: 42px;
  margin-bottom: 24px;
  color: #F4F4F4;
  border: 10px solid #F4F4F4;
  padding: 24px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 3s ease;
  text-decoration: none;
}

#search-form {
  .search-animation{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-animation:hover{
    width: 200px;
    cursor: pointer;
}

.search-animation:hover input{
    display: block;
}

.search-animation:hover .fa{
    background: #07051a;
    color: white;
}

.image-show {
  border-radius: 5px;
}
}
