.form-group{
  width: 100%;
}
.simple-form-locations{
  .search-form-control{
   display: flex;
   align-items: center;
   button{
     height: 38px;
   }
  }
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
}

.row {
  margin-top: 24px;
  width: 100%;
  justify-content: space-evenly;
  margin-right: unset;
  margin-left: unset;
}


@media (min-width: 992px) {
  .col-lg-6 {
      max-width: unset;
  }

}
.first-things{
  width: 50%;
}

.cards-trips {
  width: 40%;
}

.card-trip {
  margin-bottom: 12px;
  padding: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.banner-main-container{
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}

.banner-main-container h1 {
  padding: 24px 42px;
  margin: 0;
  color: lightgrey;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
