
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louisgadam/image/upload/v1621292532/yael-gonzalez-vdbOJuueLpU-unsplash_uxv8a4.jpg')">
  <div class="banner-container">
    <div class="banner-content">
      <h1><strong>FIGHT CLUB</strong>!</h1>
      <p>Challenge your fighting spirit</p>
      <a class="btn btn-ghost" href="#">Become a fighter</a>
    </div>
  </div>
  <%= link_to 'login', '#', class: 'login-btn btn-ghost'%>
</div>

