.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  height: 77px;
  width: 100%;
  z-index: 999999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-top: 4px;
  width: 50px;
}

.nav-link{
  color: $light-gray !important;
}

.black-scroll{
  background-color: black;
  opacity: 70%;
}

.navbar-brand{
  padding-left: 1rem;
}
