<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louisgadam/image/upload/v1621292532/yael-gonzalez-vdbOJuueLpU-unsplash_uxv8a4.jpg')">
 <div class="container">
  <h1>Find your <strong>fight location</strong>, you crazy fuck</h1>
  <br>
  <%= simple_form_for :search, url: root_path, method: :get, html: { class: "simple-form-locations" } do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <br>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>
  <h3>Map will be inserted here</h3>
  <%= link_to "Create your own location", "/locations/new", class: "btn btn-ghost" %>

<%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>

</div>

</div>

