<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new fight</h3>
        <%= simple_form_for @location do |f| %>
          <%= f.input :name, placeholder: "location name" %>
          <%= f.input :location, placeholder: "location" %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
